@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');

header, footer{
    height:15vh;
    width: 100%;
}
header{
    color: black;
    display:flex;
    background:linear-gradient(to left,aqua, gold);
    /* justify-content: space-between; */
    align-items:center;
}
footer{
    font-family:serif;
    /* text-align: c; */
    text-align:center;
    max-height: 300px;
        background:linear-gradient(to bottom, aqua, gold);

}
body{
    color:whitesmoke;
    font-family: 'Changa',
    sans-serif;
    background:url(../imgs/busses.jpg) ;
    background-position: center;
    background-repeat: repeat-y;


    /* background-attachment: scroll; */
    /* background-attachment:100vh ; */
    font-size:1.2rem;
    line-height: 2rem;
    width:85%;
    margin:0 auto;

}
/* main, header, footer {
    filter: blur(8px);
} */

header img{
    width: 100px;
    height:60%;
    float: left;
}
header *{
    padding:20px;
}
main img{
    width:24%;
    height:40vh;
    float: left;
    border:2px solid #363e47;
    border-radius: 25px;
    padding:1%;
    box-shadow: 0 0 25px rgba(0, 15, 0, 0.26), 0 0 15px rgba(0, 0, 0, 0.432);
    
    /* clear: both; */
}
main img:hover{
    cursor:pointer;
}
aside{
    color:#d4ff6d;
    float: left;
    width:20%;
    background:radial-gradient(rgba(255, 255, 255, 0.5), rgba(0,0,0,1.0));
    min-height: 60vh;
    max-height: 60vh;
    /* padding-top: 20px; */
    /* height:20%; */
    /* height: 40vh; */
    overflow-y: scroll;
}
figure{
    /* margin-top:2rem; */
    clear:right;
    /* background-color:#334655; */
}
main p{
    clear: both;
    padding:20px;
    font-size: larger;
    filter: blur(5%);
    background:linear-gradient(to bottom,rgba(41, 39, 39, 0.329), rgba(0, 0, 0, 0.514))
}

footer p{
    width:80%;
    margin:auto;    
    padding-top:50px;
    height:100%;
    /* padding: 0 50px; */
}
h1{
    font-family: 'Stick',
    sans-serif;
    font-size:2rem;
    font-weight:800;
    /* margin-top: 30px; */
}
canvas{
    background:radial-gradient(rgba(210, 180, 140, 0.541) , tan);
}
Button {
    margin-top:3rem;
    box-shadow: -1px 5px 26px 11px #9fb4f2;
    background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    background-color: #7892c2;
    border-radius: 30px;
    border: 5px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 25px;
    font-weight: bold;
    padding: 12px 66px;
    text-decoration: none;
    text-shadow: 1px 3px 17px #283966;
}

Button:hover {
    background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    background-color: #476e9e;
}

Button:active {
    position: relative;
    top: 1px;
}

